---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

interface Props {
  noMarginTop?: boolean;
}

const currentYear = new Date().getFullYear();
const { noMarginTop = false }: Props = Astro.props;
---

<footer
  class={`w-full bg-[#0b1823] text-sm text-offWhite/80 ${
    noMarginTop ? "" : "mt-auto"
  }`}
>
  <Hr noPadding />
  <div
    class="footer-wrapper mx-auto flex w-full max-w-6xl flex-col items-center justify-between gap-4 px-6 pb-8 text-center sm:flex-row-reverse sm:py-4 sm:text-left md:px-12"
  >
    <Socials centered />
    <div
      class="copyright-wrapper flex flex-col items-center whitespace-nowrap text-offWhite/80 sm:flex-row"
    >
      <span>Copyright © {currentYear}</span>
      <span class="separator hidden px-2 text-offWhite/60 sm:inline">|</span>
      <span>All rights reserved.</span>
    </div>
  </div>
</footer>
